.footer{
    font-size: 0;
    padding-top: 25px;
}

.footer__left{
    width: 20.72%;
    display: inline-block;
    vertical-align: middle;
}

.footer__right{
    width: 22.27%;
    display: inline-block;
    vertical-align: middle;
}

.footer__middle{
    width: 57.01%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}
