.container--header{
    width: 1066px;
}

.header{
    font-size: 0;
    padding: 25px 0 0 0;
    margin-bottom: 95px;
}

.header__left{
    width: 26.7%;
    display: inline-block;
    vertical-align: middle;
}

.header__middle{
    width: 63.4%;
    display: inline-block;
    vertical-align: middle;
}

.header__right{
    width: 9.9%;
    display: inline-block;
    vertical-align: middle;
}
