.navigation__list{
    font-size: 0;
    text-align: right;
}

.navigation__list-item{
    text-align: left;
    display: inline-block;
    margin-right: 9.7%;
    position: relative;
    font-size: 16px;


    &:hover{
        .navigation__link{
            color: $yellow;
        }
    }
}

.navigation__link{
    color: white;
    @include transition(300ms);
    
}

.navigation__list-item--with-dropdown{
    &:after{
        content: "";
        position: absolute;
        width: 7px;
        height: 3px;
        right: -10px;
        top:50%;
        background-image: url('../assets/pic/icons/arrow-sprite.png');
        background-position-y: bottom;
        display: block;
        @include transition(300ms);
    }

    &:hover{
        &:after{
            background-position-y: top;
        }

        .dropdown{
            top: 100%;
            left: 50%;
            opacity: 1;
        }
    }
}