.socials{
    font-size: 0;
    margin-right: -7.2%;
}

.socials__item{
    display: inline-block;
    width: 20%;
    box-sizing: border-box;
}

.socials__social{
    margin: 0 auto;
    width: 22px;
    height: 22px;
    background-image: url("../assets/pic/icons/socials-sprite.png");
}

.socials__link{
    display: block;
    width: 100%;
    height: 100%;
}

.socials__social--fb{
    background-position: -5px -10px;

    &:hover{
        background-position: -5px -52px;
    }
}

.socials__social--inst{
    background-position: -10px -94px;

    &:hover{
        background-position: -10px -136px;
    }
}

.socials__social--ok{
    background-position: -5px -178px;

    &:hover{
        background-position: -5px -220px;
    }
}


.socials__social--twi{
    background-position: -10px -298px;

    &:hover{
        background-position: -10px -260px;
    }
}

.socials__social--vk{
    background-position: -10px 28px;

    &:hover{
        background-position: -10px 61px;
    }
}