.text{
    @include helvetica();
    font-size: 15px;
    line-height: 1.4;
    color: #959595;
    margin-bottom: 35px;
}

.text__link{
    color: #393939;

    &:hover{
        text-decoration: underline;
    }
}

.text--wedeliver{
    text-align: center;
    color: #883213;
    width: 780px;
    margin: 0 auto;
}

.text--main-section{
    color:white;
}

.text--padding-left{
    padding-left: 45px;
}


.text--deliver-list{
    color: #ab594a;
    font-size: 14px;
    text-align: center;
}